@import '@fortawesome/fontawesome-free/css/all.css';
@config './tailwind.config.js';

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    margin-bottom: 15px;
}

.grid {
    @apply gap-4 lg:gap-8
}

.hover-bounce {
    img {
        display: inline-block;
        transition: transform 0.5s ease-in-out;
    }
}

.bounce {
    transition: transform 0.5s ease-in-out;
    animation: bounce 3s infinite;
}

.hover-bounce:hover {
    img {
        animation: bounce 3s infinite;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.call-to-action {
    @apply bg-gradient-to-br from-red-400 to-red-500 hover:from-red-500
    hover:to-red-400 text-white text-center py-2 rounded-full transition-all ease-in-out
    uppercase tracking-widest font-poetsen drop-shadow-md px-8 lg:px-12 inline-block text-base;
}


input {
    @apply w-full p-3 pb-2.5 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-transparent shadow-sm;
}
